body{
	background: #000;
	p{
		color: red;
	}
}
.mehdi{
	color: red;
}
.a{
	background:transparent url('image.png') left top no-repeat;
	.m{

	}
}
div {
	h1{
		background: red;
		text-align: center;
		outline: all;
	}
}
